/.idea/.gitignore
/boardBox/ios/.xcode.env
/boardBox/android/app/_BUCK
/boardBox/android/app/src/debug/AndroidManifest.xml
/boardBox/__tests__/App-test.tsx
/boardBox/ios/boardBox/AppDelegate.h
/boardBox/ios/boardBox/AppDelegate.mm
/boardBox/ios/boardBox.xcodeproj/xcshareddata/xcschemes/boardBox.xcscheme
/boardBox/ios/boardBoxTests/boardBoxTests.m
/.idea/BoardGameArcade.iml
/boardBox/android/app/build.gradle
/boardBox/android/build.gradle
/boardBox/android/app/build_defs.bzl
/boardBox/android/app/src/main/jni/CMakeLists.txt
/boardBox/.bundle/config
/boardBox/ios/boardBox.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/boardBox/ios/boardBox.xcworkspace/contents.xcworkspacedata
/boardBox/android/app/debug.keystore
/boardBox/android/gradle.properties
/boardBox/android/gradle/wrapper/gradle-wrapper.jar
/boardBox/android/gradle/wrapper/gradle-wrapper.properties
/boardBox/android/gradlew
/boardBox/android/gradlew.bat
/boardBox/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/boardBox/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/boardBox/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/boardBox/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/boardBox/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/boardBox/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
/boardBox/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
/boardBox/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
/boardBox/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
/boardBox/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
/boardBox/ios/boardBox.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/boardBox/ios/boardBox/Info.plist
/boardBox/ios/boardBoxTests/Info.plist
/boardBox/ios/boardBox/LaunchScreen.storyboard
/boardBox/ios/boardBox/main.m
/boardBox/android/app/src/main/java/com/boardbox/MainActivity.java
/boardBox/android/app/src/main/java/com/boardbox/MainApplication.java
/boardBox/android/app/src/main/jni/MainApplicationModuleProvider.cpp
/boardBox/android/app/src/main/jni/MainApplicationModuleProvider.h
/boardBox/android/app/src/main/java/com/boardbox/newarchitecture/MainApplicationReactNativeHost.java
/boardBox/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.cpp
/boardBox/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.h
/boardBox/android/app/src/main/java/com/boardbox/newarchitecture/modules/MainApplicationTurboModuleManagerDelegate.java
/boardBox/android/app/src/main/jni/MainComponentsRegistry.cpp
/boardBox/android/app/src/main/jni/MainComponentsRegistry.h
/boardBox/android/app/src/main/java/com/boardbox/newarchitecture/components/MainComponentsRegistry.java
/.idea/modules.xml
/boardBox/android/app/src/main/jni/OnLoad.cpp
/boardBox/ios/Podfile
/boardBox/ios/Podfile.lock
/boardBox/android/app/proguard-rules.pro
/boardBox/ios/boardBox.xcodeproj/project.pbxproj
/boardBox/android/app/src/debug/java/com/boardbox/ReactNativeFlipper.java
/boardBox/android/app/src/main/res/drawable/rn_edit_text_material.xml
/boardBox/android/settings.gradle
/boardBox/android/app/src/main/res/values/strings.xml
/boardBox/android/app/src/main/res/values/styles.xml
/.idea/vcs.xml
/boardBox/android/app/debug.keystore
